/* Selection background color with 30% opacity for both themes */
/* Selection background color with 100% opacity for both themes */
.cm-selectionBackground {
  background: var(--highlight-contrast, #ffe06692) !important;
  background-color: var(--highlight-contrast, #ffe06682) !important;
  outline: none !important;
}